.footer-container{
    
    bottom: 0;
    width: 100%;
    background-color: #0f172a;
    display: flex;
    gap: 15%;
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    
 
  
   color: white;
   text-align: center;

}

.link-service{
    color: white;
    text-decoration: none;
}

.fa-brands{
    color: white;
    
   margin: 0rem 1rem 1rem;
    
}
.foot-link{
    
 padding-top: 2rem;
 padding-bottom: 2rem;
   
}
.foot-link a{
    text-decoration: none;
    color: white;
}